{% extends "base.html" %}
{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }} ">{% endblock %}
{% block content %}

{% block title %}<title>{{new.name}}</title>{% endblock %}
<div class="row g-5">
        <div class="col-md-8">
            <img src="{{new.image}}" class="image-new"/>
            <article class="blog-post"><h2 class="display-5 link-body-emphasis mb-1">{{new.title}}</h2>
                <p class="blog-post-meta">{{new.date.strftime('%d.%m.%Y')}} by
                    {% if new.author %}
                    {% if new.author.name %}
                    {{new.author.name}}
                    {% else %}
                    {{ new.author.username }}
                    {% endif %}
                    {% else %}
                    Система
                    {% endif %}</p>
                <p class="blog-post-text">{{new.text}}</p>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded"><h4 class="fst-italic">О нас</h4>
                    <p class="mb-0">Здесь представлены интереснейшие статьи, новости и т.д.</p></div>
                <div><h4 class="fst-italic">Последние посты</h4>
                    <ul class="list-unstyled">
                        {% for nev in news %}
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="/catalog_news/{{nev.id}}">
                                <div class="image-news">
                                    <img src="{{nev.image}}" class="image-news"/>
                                </div>
                                <div class="col-lg-8"><h6 class="mb-0">{{nev.title}}</h6> <small
                                        class="text-body-secondary">{{nev.date}}</small></div>
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="p-4"><h4 class="fst-italic">Архив</h4>
                    <ol class="list-unstyled mb-0">
                        {% for archive in archives %}
                        <li><a href="/catalog_news/{{archive.year}}/{{archive.month}}">{{archive.month_name}} {{archive.year}}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
</div>
{% endblock %}